@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
	margin-right: 5px;
	vertical-align: bottom;
}


/* --------------- MENU PRINCIPAL --------------- */

/* Carnet */
.flaticon-book118:before {
	content: "\e004";
}

nav#navigation .flaticon-book118:before {
	font-size: 1em;
}

.presentation-content .flaticon-book118:before {
	vertical-align: text-bottom;
}

#intro .flaticon-book118:before {
	font-size: 1em;
	font-weight: normal;
}

/* Alimentation - Pomme */
.flaticon-apple55:before {
	content: "\e001";
}

nav#navigation .flaticon-apple55:before {
	font-size: 0.8em;
}

.presentation-content .flaticon-apple55:before {
	vertical-align: text-bottom;
}

#one .flaticon-apple55:before {
	font-size: 0.8em;
	font-weight: normal;
}

/* Conseils */
.flaticon-bald23:before {
	content: "\e002";
}

nav#navigation .flaticon-bald23:before {
	font-size: 1.1em;
}

.presentation-content .flaticon-bald23:before {
	vertical-align: text-bottom;
}

#two .flaticon-bald23:before {
	font-size: 1.1em;
	font-weight: normal;
}

#work.articles .flaticon-bald23:before {
	font-size: 1.1em;
}

/* --------------- CARNET --------------- */

#carnet .flaticon-book118:before {
	font-weight: normal;
	font-size: 1em;
}

/* ajouter */
span.btn-option .flaticon-add182:before {
	font-size: 1em;
}

/* Mes Releves - liste */
.flaticon-list1:before {
	content: "\e00d";
}

#work.carnet .flaticon-list1:before {
	font-size: 1.2em;
	margin-right: 0.3em;
	font-weight: normal;
}

nav#carnet-sub-navigation .flaticon-list1:before {
	font-size: 1em;
}

/* Mon Menu - Couverts */
.flaticon-restaurant23:before {
	content: "\e00f";
}

#sub-header .flaticon-restaurant23:before {
	font-size: 0.9em;
}

#composer-menu .flaticon-restaurant23:before {
	font-size: 0.9em;
	font-weight: normal;
}

/* Mes Stats */
.flaticon-business143:before {
	content: "\e005";
}

#sub-header .flaticon-business143:before {
	font-size: 0.9em;
}

#work.carnet .flaticon-business143:before {
	font-size: 0.8em;
	margin-right: 0.5em;
	font-weight: normal;
}

/* Mon Agenda */
.flaticon-calendar154:before {
	content: "\e006";
}

#sub-header .flaticon-calendar154:before {
	font-size: 0.9em;
}

#work.carnet .flaticon-calendar154:before {
	font-size: 0.8em;
	margin-right: 0.5em;
	font-weight: normal;
}

/* Export */
.flaticon-export1:before {
	content: "\e00a";
}

span.btn-option .flaticon-export1:before {
	font-size: 0.4em;
}

/* --------------- ALIMENTATION --------------- */

/* Mon menu - Couverts */
.flaticon-restaurant23:before {
}

nav#alimentation-sub-navigation .flaticon-restaurant23:before {
	font-size: 0.9em;
}

#work.alimentation .flaticon-restaurant23:before {
	font-size: 0.9em;
	font-weight: normal;
}

/* Ajouter / Aliment manquant - + */
.flaticon-add182:before {
	content: "\e000";
}

nav#alimentation-sub-navigation .flaticon-add182:before {
	font-size: 1.1em;
}

.alimentation-features .flaticon-add182:before {
	font-size: 1em;
	font-weight: normal;
}

/* Catalogue aliments */
.flaticon-book1:before {
	content: "\e003";
}

nav#alimentation-sub-navigation .flaticon-book1:before {
	font-size: 0.9em;
}

.alimentation-features .flaticon-book1:before {
	font-size: 0.8em;
	font-weight: normal;
	margin-right: 0.4em;
}

/* Header */
#alimentation .flaticon-apple55:before {
	font-size: 0.8em;
	font-weight: normal;
}


/* --------------- COMPOSER MENU --------------- */

/* Entrée - Carotte */
.flaticon-healthyfood5:before {
	content: "\e00c";
}

#work.menu .flaticon-healthyfood5:before {
	font-weight: normal;
	margin-right: 0.5em;
	font-size: 0.9em;
}

/* Plat - poulet */
.flaticon-turkey7:before {
	content: "\e011";
}

#work.menu .flaticon-turkey7:before {
	font-weight: normal;
	margin-right: 0.5em;
	font-size: 1.2em;
}

/* Laitage - fromage */
.flaticon-cheese14:before {
	content: "\e007";
}

#work.menu .flaticon-cheese14:before {
	font-weight: normal;
	margin-right: 0.5em;
	font-size: 0.9em;
}

/* Dessert - muffin */
.flaticon-cupcake3:before {
	content: "\e008";
}

#work.menu .flaticon-cupcake3:before {
	font-weight: normal;
	margin-right: 0.5em;
	font-size: 1em;
}

/* Boissons - Verre*/
.flaticon-glass23:before {
	content: "\e00b";
}

#work.menu .flaticon-glass23:before {
	font-weight: normal;
	margin-right: 0.5em;
	font-size: 0.9em;
}


/* --------------- PROFIL --------------- */

/* Modification - crayon */
.flaticon-edit45:before {
	content: "\e009";
}

#profil-infos .flaticon-edit45:before {
	font-size: 1.5em;
}

/* A propos - profil */
.flaticon-user168:before {
	content: "\e012";
	font-size: 1em;
	font-weight: 900;
}

#profil-infos .flaticon-user168:before {
	margin-right: 0.5em;
}

/* Mon diabete - carnet croix */
.flaticon-shield104:before {
	content: "\e010";
	font-size: 1em;
	font-weight: normal;
}

#profil-infos .flaticon-shield104:before {
	margin-right: 0.5em;
}

/* Contacts - annuaire */
.flaticon-notebook32:before {
	content: "\e00e";
	font-size: 1em;
	font-weight: normal;
}

#profil-infos .flaticon-notebook32:before {
	margin-right: 0.5em;
}













