@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
	margin-right: 5px;
}

/* --------- LOUPE ----------- */
.flaticon-dark37:before {
	content: "\e000";
}

#work.carnet .flaticon-dark37:before {
	margin: -0.3em;
}

/* --------- GRAPHIQUE STATS ----------- */
.flaticon-education12:before {
	content: "\e001";
}

#work.carnet .flaticon-education12:before {
	font-size: 0.8em;
	margin-right: 0.5em;
}

/* ---------- EXPORT ------------ */
.flaticon-export:before {
	content: "\e002";
}

#work.carnet .flaticon-export:before {
	margin: -0.3em;
}

/* --------- SERINGUE ----------- */
.flaticon-injection2:before {
	content: "\e003";
}

#profil-infos .flaticon-injection2:before {
	font-size: 100%;
	vertical-align: text-bottom;
	margin-right: 15px;
}

#work.carnet .flaticon-injection2:before {
	font-size: 0.8em;
	margin-right: 0.5em;
}

/* --------- VERROU ----------- */
.flaticon-lock2:before {
	content: "\e004";
}

#intro .flaticon-lock2:before {
	font-size: 65%;
	vertical-align: bottom;
	margin-right: 15px;
}

/* --------- PROFIL ----------- */
.flaticon-profile7:before {
	content: "\e005";
}

#profil-infos .flaticon-profile7:before {
	font-size: 100%;
	vertical-align: text-bottom;
	margin-right: 15px;
}

/* --------- COUVERTS ----------- */
.flaticon-restaurant23:before {
	content: "\e006";
}

#one .flaticon-restaurant23:before {
	font-size: 1em;
	border-radius: 100%;
	color: white;
	padding: 0.2em;
	margin-right: -10px;
	-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

#one h2 a:hover .flaticon-restaurant23:before {

	color: #8cb02b;
}

#alimentation .flaticon-restaurant23:before {
	font-size: 3.5em;
	color: white;
	padding: 0.2em;
}

/* --------- CARNET ----------- */
.flaticon-small21:before {
	content: "\e007";
}

#intro .flaticon-small21:before {
	font-size: 1em;
	border-radius: 100%;
	color: white;
	padding: 0.2em;
	margin-right: 10px;
	-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

#intro h2 a:hover .flaticon-small21:before {
	color: #5c89c7;
}

#carnet .flaticon-small21:before {
	font-size: 3.5em;
	color: white;
	padding: 0.2em 0.35em;
}

/* --------- AGENDA ----------- */
.flaticon-small58:before {
	content: "\e008";
}

#work.carnet .flaticon-small58:before {
	font-size: 0.8em;
	vertical-align: text-top;
	margin-right: 0.5em;
}

/* --------- POUCE ----------- */
.flaticon-thumbs16:before {
	content: "\e009";
}

#two .flaticon-thumbs16:before {
	font-size: 1em;
	border-radius: 100%;
	color: white;
	padding: 0.2em;
	margin-right: 0;
	-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

#two h2 a:hover .flaticon-thumbs16:before {
	color: #ed7e4a;
}

#work.articles .flaticon-thumbs16:before {
	font-size: 3.5em;
	padding: 0.2em 0.35em;
}

#conseils .flaticon-thumbs16:before {
	font-size: 3.5em;
	background: white;
	border-radius: 100%;
	color: #ed7e4a;
	padding: 0.2em 0.1em 0.2em 0.3em;
}

#carnet .flaticon-thumbs16:before {
	font-size: 2em;
	color: #8cb02b;
}

/* --------- BULLES DE DIALOGUE ----------- */
.flaticon-two90:before {
	content: "\e00a";
}

#profil-infos .flaticon-two90:before {
	font-size: 100%;
	vertical-align: text-bottom;
	margin-right: 15px;
}
