/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header {
		position: fixed;
		z-index: 10000;
		left: 0;
		top: 0;
		width: 100%;
		background: #ed7e4a;
		background: rgba(237,126,74,0.95);
		height: 5em;
		line-height: 3em;
		box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
	}

/*********************************************************************************/
/* Barre de recherche                                                            */
/*********************************************************************************/

	form#nav-search input[type="submit"] {
		width: inherit;
		background: white;
		border-radius: 0 3px 3px 0;
		color: #ed7e4a;
		height: 3em;
		font-size: 0.8em;
		padding: 0 1em;
		display: block;
		width: 3.5em;
		line-height: initial;
	}