<div class="table catalogue">
    <table class="full">
        <tr class="table-title">
            <td></td>
            <td>Nom de l'aliment</td>
            <td>Calories</td>
            <td>Protéines</td>
            <td>Glucides</td>
            <td>Lipides</td>
            <td>Quantité</td>
        </tr>
        <tr>
            <td><img src="images/catalogue/cacahuetes.png" alt="Cacahuètes" /></td>
            <td class="label">Cacahuètes</td>
            <td>576</td>
            <td>23</td>
            <td>22</td>
            <td>44</td>
            <td>100 g</td>
        </tr>
    </table>
</div>