<div class="table catalogue">
    <table class="full">
        <tr class="table-title">
            <td></td>
            <td>Nom de l'aliment</td>
            <td>Calories</td>
            <td>Protéines</td>
            <td>Glucides</td>
            <td>Lipides</td>
            <td>Quantité</td>
        </tr>
        <tr>
            <td><img src="images/catalogue/bananes.png" alt="Bananes" /></td>
            <td class="label">Banane</td>
            <td>90</td>
            <td>1.5</td>
            <td>20</td>
            <td>0</td>
            <td>100 g</td>
        </tr>
    </table>
</div>