{% extends "layout/base.html" %}

{% block content %}
			
<!-- Catalogue -->
	<section id="work" class="main style3 primary">
		<div class="content container">
			<header>
				<h2>{{category}}</h2>
			</header>

			<!-- Choix alphabetique -->
				<nav id="catalogue-alphabetique">
                    <ul>
                        <li><a href="sub_content/aliments/lettre-a.html">A</a></li>
                        <li><a href="sub_content/aliments/lettre-b.html">B</a></li>
                        <li><a href="sub_content/aliments/lettre-c.html">C</a></li>
                        <li><a href="sub_content/aliments/lettre-d.html">D</a></li>
                        <li><a href="sub_content/aliments/lettre-e.html">E</a></li>
                        <li><a href="sub_content/aliments/lettre-f.html">F</a></li>
                        <li><a href="sub_content/aliments/lettre-g.html">G</a></li>
                        <li><a href="sub_content/aliments/lettre-h.html">H</a></li>
                        <li><a href="sub_content/aliments/lettre-i.html">I</a></li>
                        <li><a href="sub_content/aliments/lettre-j.html">J</a></li>
                        <li><a href="sub_content/aliments/lettre-k.html">K</a></li>
                        <li><a href="sub_content/aliments/lettre-l.html">L</a></li>
                        <li><a href="sub_content/aliments/lettre-m.html">M</a></li>
                        <li><a href="sub_content/aliments/lettre-n.html">N</a></li>
                        <li><a href="sub_content/aliments/lettre-o.html">O</a></li>
                        <li><a href="sub_content/aliments/lettre-p.html">P</a></li>
                        <li><a href="sub_content/aliments/lettre-q.html">Q</a></li>
                        <li><a href="sub_content/aliments/lettre-r.html">R</a></li>
                        <li><a href="sub_content/aliments/lettre-s.html">S</a></li>
                        <li><a href="sub_content/aliments/lettre-t.html">T</a></li>
                        <li><a href="sub_content/aliments/lettre-u.html">U</a></li>
                        <li><a href="sub_content/aliments/lettre-v.html">V</a></li>
                        <li><a href="sub_content/aliments/lettre-w.html">W</a></li>
                        <li><a href="sub_content/aliments/lettre-x.html">X</a></li>
                        <li><a href="sub_content/aliments/lettre-y.html">Y</a></li>
                        <li><a href="sub_content/aliments/lettre-z.html">Z</a></li>
                        <div class="clear"></div>
                    </ul>
                </nav>
    
    		<!-- Aliments  -->
                <div class="container 75% tri-result">
                	<div class="table catalogue">
					    <table class="full">
					        <tr class="table-title">
					            <td>Nom de l'aliment</td>
					            <td>Glucides</td>
					            <td>Quantité</td>
					        </tr>
                            {% for aliment in aliments %}
					        <tr>
					            <td class="label"><a href="{% url 'alimentdetails' aliment.slug %}" > {{aliment.name}} </a></td>
					            <td>{{aliment.glucide}}g</td>
					            <td>{{aliment.weight}}g</td>
					        </tr>
                            {% endfor %}
					    </table>
					</div>
                </div>
        </div>                  
	</section>

	<!-- Scroll to top -->
        <a href="#" class="back-to-top">Haut de page</a>

<!-- changement couleur header et padding body -->
        <script type="text/javascript">
          $('#header').css('background-color', '#8cb02b');
          $('form#nav-search input[type="submit"]').css('color', '#8cb02b');
          $('#navigation ul li#connexion a').css('color', '#8cb02b');
        </script>

{% endblock content %}