<!DOCTYPE HTML>

<html>
	<head>
		<title>DiabON</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- JavaScript -->
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>

		<!-- CSS -->
		<link rel="stylesheet" href="/static/css/skel.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/style-wide.css" />
		<link rel="stylesheet" href="/static/css/style-normal.css" />
		<link rel="stylesheet" href="/static/css/page-alimentation.css" />
		<link rel="stylesheet" href="/static/css/calendar.css" />
		<link rel="stylesheet" href="/static/css/calendar-custom.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
		<link rel="stylesheet" href="/static/css/page-carnet.css" />
		<link rel="stylesheet" href="/static/css/magnific-popup.css" />
		<link rel="stylesheet" href="/static/css/share.min.css" />
		<link rel="stylesheet" href="/static/css/chartist.min.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

		<!-- FAVICON -->
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	</head>
	<body>

		<!-- Header -->
			<header id="header">

				<!-- Logo -->
					<h1 id="logo">
						<a href={% url 'home' %}>
							<img src="/static/images/logo.png" alt="Diab'On" title="Accueil" />
						</a>
					</h1>
				
				<!-- Nav -->
					<nav role="navigation" id="navigation">
						<ul>
							<li id="nav-barre-recherche">
								<form id="nav-search" action="recherche.php">
									<input type="text" placeholder="Rechercher" name="nav-text-search" />
									<input type="submit" value="OK" />
								</form>
							</li>
							<li><a href={% url 'carnet' %}>
								<span class="flaticon-book118"></span>Carnet
							</a></li>
							<li><a href={% url 'alimentation' %}>
								<span class="flaticon-apple55"></span>Alimentation
							</a></li>
							<li><a href={% url 'conseils' %}>
								<span class="flaticon-bald23"></span>Conseils
							</a></li>
							{% if user.is_authenticated %}
								<li id="profil" title="Profil"><a href={% url 'profil' %}>
									<!-- <span class="flaticon-edit45"></span>Profil -->
									 <!--<img src="/static/images/profil-picture.png" alt="Ma photo" title="Profil"> -->
								</a></li>
								<li id="deconnexion"><a href={% url 'deconnexion' %}>Déconnexion</a></li>
							{% else %}
								<li id="connexion"><a href={% url 'connexion' %}>Connexion</a></li>
							{% endif %}
						</ul>
					</nav>

			</header>

			<!-- contenu dynamique -->
		    <div id="content">

		    	<!-- form connexion -->
		    	<div id="connexion-container" style="display:none;">
		    		<header>
						<h2>Connexion</h2>
					</header>
					<div id="close-connexion">X</div>
			    	<form id="connexion-form">
			    		<input type="text" name="username" />
			    		<input type="password" name="password" />
			    		<input type="submit" name="submit" value="Connexion" />
			    	</form>
		    	</div>

		    	{% block content %}{% endblock content %} 
		    </div>

<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li><a href="{% url 'mentions' %}">Mentions Légales</a></li>
						<li><a href="{% url 'equipe' %}">L'équipe</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
						<li id="copyright">&copy; DiabON</li>
					</ul>
			
			</footer>

		<!-- JavaScript -->
		<script src="/static/js/jquery.tablesorter.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() 
			    { 
			        $("#table-releves").tablesorter(); 
			    } 
			); 
		</script>
		<script src="/static/js/jquery.calendario.js"></script>
		<script type="text/javascript">
			$('#calendar').calendario();
		</script>
		<script src="/static/js/jquery.poptrox.min.js"></script>
		<script src="/static/js/jquery.scrolly.min.js"></script>
		<script src="/static/js/jquery.scrollgress.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/init.js"></script>
		<script src="/static/js/scrollToTop.js"></script>
		<script src="/static/js/navigation.js"></script>
		<script src="/static/js/change_content.js"></script>
		<script src="/static/js/data.js"></script>
		<script src="/static/js/modernizr.custom.63321.js"></script>
		<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    	<script src="/static/js/morris-stats.js"></script> -->
    	<script src="/static/js/jquery.magnific-popup.min.js"></script>
    	<script src="/static/js/share.min.js"></script>
    	<script src="/static/js/chartist.min.js"></script>

    	<!-- enlever les aides -->
    	<script type="text/javascript">
    		$(document).ready(function(){
			    $("#work.carnet .hide-help.1").click(function(){
			        //on cache les div d'aide si elle est visible
			        if ($("#work.carnet p.bulle-help.1").css('display') == 'block') {
			        	$("#work.carnet p.bulle-help.1").css("display", "none" );
			        } else if ($("#work.carnet p.bulle-help.1").css('display') == 'none') {
			        	$("#work.carnet p.bulle-help.1").css("display", "block" );
			        }
			        return false;
			    });

			    $("#work.carnet .hide-help.2").click(function(){
			        //on cache les div d'aide si elle est visible
			        if ($("#work.carnet p.bulle-help.2").css('display') == 'block') {
			        	$("#work.carnet p.bulle-help.2").css("display", "none" );
			        } else if ($("#work.carnet p.bulle-help.2").css('display') == 'none') {
			        	$("#work.carnet p.bulle-help.2").css("display", "block" );
			        }
			        return false;
			    });

			    $("#work.carnet .hide-help.3").click(function(){
			        //on cache les div d'aide si elle est visible
			        if ($("#work.carnet p.bulle-help.3").css('display') == 'block') {
			        	$("#work.carnet p.bulle-help.3").css("display", "none" );
			        } else if ($("#work.carnet p.bulle-help.3").css('display') == 'none') {
			        	$("#work.carnet p.bulle-help.3").css("display", "block" );
			        }
			        return false;
			    });
			}); 
    	</script>

	</body>
</html>
