{% extends "layout/base.html" %}

{% block content %}
{% load mathfilters %}

		<!-- Catalogue -->
			<section id="work" class="main style3 secondary details-aliment">
				<div class="content container">

					<div class="box container 75%">
						<header>
							<h2>Valeur glucidique pour :</h2>
							<p class="aliment-picture"><img src="#" alt="" /></p>
							<p class="aliment-name">{{aliment.name}}</p>	
							<div class="clear"></div>						
						</header>
            
            		<!-- Tableau Aliments  -->
                		<div id="details-aliment-container">
                    		
                    		<div class="details-aliment-content">
	                    		<p>Portion : {{aliment.weight}} g</p>
	                    		<div class="glucide">
									<p class="glucide-title">Quantité de glucide :</p>
									<p class="glucide-quantite">{{aliment.glucide}} g</p>
									<div class="clear"></div>
								</div>
							</div>

							<div class="details-aliment-content">
	                    		<p>Portion : {{aliment.weight|mul:3|intdiv:2}} g</p>
	                    		<div class="glucide">
									<p class="glucide-title">Quantité de glucide :</p>
									<p class="glucide-quantite">{{aliment.glucide|mul:3|intdiv:2}} g</p>
									<div class="clear"></div>
								</div>
							</div>

							<div class="details-aliment-content">
	                    		<p>Portion : {{aliment.weight|mul:2}} g</p>
	                    		<div class="glucide">
									<p class="glucide-title">Quantité de glucide :</p>
									<p class="glucide-quantite">{{aliment.glucide|mul:2}} g</p>
									<div class="clear"></div>
								</div>
							</div>

							<div class="clear"></div>

							<p class="aliment-categorie">Appartient à la catégorie des <a href="#">{{aliment.category.name}}</a></p>
						</div>


	                </div>
	            </div>                  
        	</section>

        <!-- Scroll to top -->
        	<a href="#" class="back-to-top">Haut de page</a>

        <!-- changement couleur header et padding body -->
		    <script type="text/javascript">
		    	$('#header').css('background-color', '#8cb02b');
		    	$('form#nav-search input[type="submit"]').css('color', '#8cb02b');
		    	$('#navigation ul li#connexion a').css('color', '#8cb02b');
		    </script>


{% endblock content %}