{% extends "layout/base.html" %}
{% block content %}

	<header id="sub-header" class="carnet">

		<!-- Sub Nav -->
			<nav role="navigation" id="carnet-sub-navigation">
				<ul>
					<li><a href="#releves"><span class="flaticon-list1"></span>Mes relevés</a></li>
					<!--<li><a href="#composer-menu"><span class="flaticon-restaurant23"></span>Mon menu</a></li>-->
					<li><a href="#statistiques"><span class="flaticon-business143"></span>Mes statistiques</a></li>
					<li><a href="#agenda"><span class="flaticon-calendar154"></span>Mon agenda</a></li>
				</ul>
			</nav>

	</header>

<!-- Carnet -->
	<section id="carnet" class="main style1 dark fullscreen">
		<div class="content container 75%">
			<header>
				<h2><span class="flaticon-book118"></span>
					{% if user.is_authenticated %}
						{{ user.first_name }},
					{% endif %}
				voici votre dernier relevé :</h2>
				<div class="border-search">
					<div class="background-search">
						<span class="flaticon-thumbs16"></span>
						<p class="glycemie">138.8 mg/dl</p>
						<p class="date">effectué le 18 Novembre 2014 à 11h48</p>
						<div class="clear"></div>
					</div>
				</div>
			</header>
			<footer>
				<p>accédez aux autres fonctionnalités</p>
				<a href="#work" class="button style2 down">More</a>
			</footer>
		</div>
	</section>
	
<!-- Carnet -->
	<section id="work" class="main style3 secondary carnet">
		<div class="content container 75%">
			
		<!--  ____________________________________________ RELEVES ____________________________________________  -->

			<div id="releves" class="box container 75% a-propos">
				<header>
					<h2>
						<span class="flaticon-list1"></span>Mes relevés
						
					</h2>
					<span class="btn-option export" title="Exporter mes relevés au format PDF"><span class="flaticon-export1"></span></span>
					<a class="popup-with-form" href="#releve-popup-form"><span class="btn-option add" title="Ajouter un relevé">+</span></a>
					<span class="btn-option hide-help 1" title="Afficher/Masquer l'infobulle">i</span>
					<div class="clear"></div>
					<p class="bulle-help 1" style="display:none;">Ajoutez facilement un relevé avec le '+'. Triez les résultats ou recherchez en un ou bien exportez les au format PDF pour les avoir toujours avec vous.</p>
				</header>

				<!-- Choix date -->
				<nav id="releves-tri">
					<ul>
						<li><a href="aujourdhui.html" class="change_load actif">Aujourd'hui</a></li>
						<li><a href="7-derniers-jours.html" class="change_load">7 derniers jours</a></li>
						<li><a href="dernier-mois.html" class="change_load">Dernier mois</a></li>
						<li><a href={% url '3-derniers-mois' %} class="change_load">3 derniers mois</a></li>
						<div class="clear"></div>
					</ul>
				</nav>

				<div id="table-releve-container">
					<table id="table-releves" class="tablesorter"> 
						<thead> 
							<tr> 
								<th>Date</th> 
								<th>Heure</th> 
								<th>Relevé</th> 
								<th class="note">Note</th>
							</tr> 
						</thead> 
						<tbody> 
							<tr> 
								<td>18 Jan 2014</td> 
								<td>11h54</td> 
								<td>135 mg/dl</td> 
								<td>Tremblement ! J'ai augmenté ma dose d'insuline.</td> 
							</tr> 
						</tbody> 
					</table> 
				</div>
			</div>


		<!--  ____________________________________________ STATS ____________________________________________  -->

			<div id="statistiques" class="box container 75% a-propos">
				<header>
					<h2>
						<span class="flaticon-business143"></span>Mes statistiques
					</h2>
					<span class="btn-option export" tit exportle="Exporter mes statistiques"><span class="flaticon-export1"></span></span>
					<span class="btn-option hide-help 2" title="Afficher/Masquer l'infobulle">i</span>
					<div class="clear"></div>
					<p class="bulle-help 2" style="display:none;">Visualisez en toute simplicité sous forme de graphique vos taux de glycémie et exportez vos résultats.</p>
				</header>

				<nav id="stats-tri">
					<ul>
						<li class="current">Aujourd'hui</li>
						<li>7 derniers jours</li>
						<li>Dernier mois</li>
						<li>3 derniers mois</li>
						<div class="clear"></div>
					</ul>
				</nav>
				
				<div id="chartContainer" style="height: 300px; width: 100%;"></div>
										
			</div>


		<!--  ____________________________________________ AGENDA ____________________________________________  -->

			<div id="agenda" class="box container 75% a-propos">
				<header>
					<h2>
						<span class="flaticon-calendar154"></span>Mon agenda
					</h2>
					<span class="btn-option hide-help 3" title="Afficher/Masquer l'infobulle">i</span>
					<a class="popup-with-form" href="#event-popup-form"><span id="add-calendar" class="btn-option" title="Créer un événement">+</span></a>
					<div class="clear"></div>
					<p class="bulle-help 3" style="display:none;">Le diabète entraîne de nombreux rendez-vous médical et il n'est pas toujours facil de se rappeler de tout. DiabON vous permet de créer des rendez-vous avec des rappels pour ne jamais oublier.</p>
				</header>
				
				<section class="main">
					<div class="custom-calendar-wrap">
						<div id="custom-inner" class="custom-inner">
							<div class="custom-header clearfix">
								<nav>
									<span id="custom-prev" class="custom-prev"></span>
									<span id="custom-next" class="custom-next"></span>
								</nav>
								<h2 id="custom-month" class="custom-month"></h2>
								<h3 id="custom-year" class="custom-year"></h3>
							</div>
							<div id="calendar" class="fc-calendar-container"></div>
						</div>
					</div>
				</section>
			</div>

		</div>
	</section>

<!-- Scroll to top -->
	<a href="#" class="back-to-top">Remonter</a>


	<!--  ____________________________________________ POP UP FORMS ____________________________________________  -->


	<form id="releve-popup-form"  method="post" action="." class="white-popup-block mfp-hide" _lpchecked="1">
		{% csrf_token %}
		<h1>Ajouter un relevé</h1>
		{{ form.as_p }}
		<input type="submit" value="Ajouter" />
	</form>

	<form id="event-popup-form" class="white-popup-block mfp-hide" _lpchecked="1">
		<h1>Ajouter un événement</h1>
		<fieldset style="border:0;">
			<ul>
				<li>
					<label for="date-event">Date</label>
					<input id="date-event" name="date" type="date" required="">
				</li>
				<li>
					<label for="heure-event">Heure</label>
					<input id="heure-event" name="heure-event" type="time" required="">
				</li>
				<li>
					<label for="title-event">Titre de l'événement</label>
					<input id="title-event" name="title-event" type="text" required="">
				</li>
			</ul>
		</fieldset>
		<input type="submit" value="Créer">
	</form>



<!--  ____________________________________________ JAVASCRIPTS ____________________________________________  -->

<!--   POP UP ACTIONS   -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.popup-with-form').magnificPopup({
				type: 'inline',
				preloader: false,
				focus: '#date-releve',

				// When elemened is focused, some mobile browsers in some cases zoom in
				// It looks not nice, so we disable it:
				callbacks: {
					beforeOpen: function() {
						if($(window).width() < 700) {
							this.st.focus = false;
						} else {
							this.st.focus = '#date-releve';
						}
					}
				}
			});
		});
	</script>


<!--   EXPORT   -->
	<script src="/static/js/tableExport.js"></script>
	<script src="/static/js/jquery.base64.js"></script>
		<!-- PDF EXPORT -->
	<script src="/static/js/table-export/libs/sprintf.js"></script>
	<script src="/static/js/table-export/jspdf.js"></script>
	<script src="/static/js/table-export/libs/base64.js"></script>
	<script type="text/javascript">
		$('#releves span.export').click(function() {
			$('table#table-releves').tableExport({
				type:'pdf',
				escape:'false',
				tableName:'DiabON - Vos relevés',
				pdfFontSize:12,
				ignoreColumn: [3],
				pdfLeftMargin:40
			});
		});
	</script>


<!--   TABLEAU RELEVE TRI   -->
	<script type="text/javascript">
		$(document).ready(function() 
			{ 
				$("#table-releves").tablesorter(); 
			} 
		); 
	</script>


<!--   STATS   -->
<script src="/static/js/canvasjs.min.js"></script>
<script src="/static/js/manageStats.js"></script>


<!--   AGENDA   -->
	<script src="/static/js/jquery.calendario.js"></script>
	<script type="text/javascript">
		$('#calendar').calendario();
	</script>
	<script src="/static/js/data.js"></script>
	<script src="/static/js/manageAgenda.js"></script>


<!--   CHANGE CONTENT RELEVES   -->
<script src="/static/js/change_content.js"></script>


<!--   JQUERY   -->
	<script type="text/javascript">
		$('body').css('padding-top', '7em');
		document.title = 'Carnet de {{ user.username }} - DiabON';
	</script>

{% endblock content %}
