{% extends "layout/base.html" %}

{% block content %}



<header id="sub-header">

    <!-- Sub Nav -->
        <nav role="navigation" id="catalogue-sub-navigation">
            <ul>
                <!-- Recherche -->
                <li>
                    <form id="recherche-catalogue" action="" class="formulaire">
                        <input class="champs-recherche" type="text" placeholder="Rechercher un aliment"/>
                        <input class="btn-recherche flaticon-dark37" type="button" value="OK" />  
                    </form>
                    <div class="clear"></div>
                </li>
            </ul>
        </nav>

</header>

<!-- Catalogue -->
<section id="work" class="main style3 secondary catalogue">
    <div class="content container">
      <header>
        <h2>Catalogue complet de nos aliments</h2>
        <p>Rechercher un aliment par lettre ou naviguer parmi les catégories d'aliments pour trouver le vôtre.</p>
      </header>

      <!-- Choix alphabetique -->
          <nav id="catalogue-alphabetique">
              <ul>
                        <li><a href="{% url 'alimentletter' letter='A' %}">A</a></li>
                        <li><a href="{% url 'alimentletter' letter='B' %}">B</a></li>
                        <li><a href="{% url 'alimentletter' letter='C' %}">C</a></li>
                        <li><a href="{% url 'alimentletter' letter='D' %}">D</a></li>
                        <li><a href="{% url 'alimentletter' letter='E' %}">E</a></li>
                        <li><a href="{% url 'alimentletter' letter='F' %}">F</a></li>
                        <li><a href="{% url 'alimentletter' letter='G' %}">G</a></li>
                        <li><a href="{% url 'alimentletter' letter='H' %}">H</a></li>
                        <li><a href="{% url 'alimentletter' letter='I' %}">I</a></li>
                        <li><a href="{% url 'alimentletter' letter='J' %}">J</a></li>
                        <li><a href="{% url 'alimentletter' letter='K' %}">K</a></li>
                        <li><a href="{% url 'alimentletter' letter='L' %}">L</a></li>
                        <li><a href="{% url 'alimentletter' letter='M' %}">M</a></li>
                        <li><a href="{% url 'alimentletter' letter='N' %}">N</a></li>
                        <li><a href="{% url 'alimentletter' letter='O' %}">O</a></li>
                        <li><a href="{% url 'alimentletter' letter='P' %}">P</a></li>
                        <li><a href="{% url 'alimentletter' letter='Q' %}">Q</a></li>
                        <li><a href="{% url 'alimentletter' letter='R' %}">R</a></li>
                        <li><a href="{% url 'alimentletter' letter='S' %}">S</a></li>
                        <li><a href="{% url 'alimentletter' letter='T' %}">T</a></li>
                        <li><a href="{% url 'alimentletter' letter='U' %}">U</a></li>
                        <li><a href="{% url 'alimentletter' letter='V' %}">V</a></li>
                        <li><a href="{% url 'alimentletter' letter='W' %}">W</a></li>
                        <li><a href="{% url 'alimentletter' letter='X' %}">X</a></li>
                        <li><a href="{% url 'alimentletter' letter='Y' %}">Y</a></li>
                        <li><a href="{% url 'alimentletter' letter='Z' %}">Z</a></li>
                        <div class="clear"></div>
              </ul>
        </nav>

      <!-- Choix tri -->
        <nav id="catalogue-tri" class="box 75%">
                      <ul>
                          <li><a href={% url 'pain' %}>
                            <img src="/static/images/catalogue/pains.png" alt="Pains, biscottes, céréales, viennoiseries" />
                            Pains, crackers, céréales, pâtisseries
                          </a></li>
                          <li><a href={% url 'feculents' %}>
                            <img src="/static/images/catalogue/feculents-legumes-secs.png" alt="Féculents et légumes secs" />
                            Féculents et légumes secs
                          </a></li>
                          <li><a href={% url 'legumes' %}>
                            <img src="/static/images/catalogue/legumes.png" alt="Légumes" />
                            Légumes
                          </a></li>
                          <li><a href={% url 'fruits' %}>
                            <img src="/static/images/catalogue/fruits.png" alt="Fruits et frtuis secs" />
                            Fruits et fruits secs
                          </a></li>
                          <li><a href={% url 'produits_laitiers' %}>
                            <img src="/static/images/catalogue/produits-laitiers.png" alt="Produits laitiers" />
                            Produits laitiers
                          </a></li>
                          <li><a href={% url 'plats_cuisines' %}>
                            <img src="/static/images/catalogue/plats-cuisines.png" alt="Plats cuisinés" />
                            Plats cuisinés
                          </a></li>
                          <li><a href={% url 'dessert' %}>
                            <img src="/static/images/catalogue/desserts.png" alt="Desserts" />
                            Desserts
                          </a></li>
                          <li><a href={% url 'confiseries' %}>
                            <img src="/static/images/catalogue/confiseries.png" alt="Produits sucrés, confiseries" />
                            Produits sucrés, confiseries
                          </a></li>
                          <li><a href={% url 'aperitifs' %}>
                            <img src="/static/images/catalogue/aperitifs.png" alt="Apéritifs" />
                            Appéritifs
                          </a></li>
                          <li><a href={% url 'boissons' %}>
                            <img src="/static/images/catalogue/boissons.png" alt="Boissons" />
                            Boissons
                          </a></li>
                          <li><a href={% url 'restauration_rapide' %}>
                            <img src="/static/images/catalogue/restauration-rapide.png" alt="Restauration rapide" />
                            Restauration rapide
                          </a></li>
                          <li><a href={% url 'sauces' %}>
                            <img src="/static/images/catalogue/sauces.png" alt="Sauces, assaisonnements" />
                            Sauces, assaisonnements
                          </a></li>
                          <div class="clear"></div>
                      </ul>
                </nav>
        
            <!-- Aliments  -->
                  <div class="container 75% tri-result"></div>
          </div>                  
      </section>

    <!-- Scroll to top -->
      <a href="#" class="back-to-top">Top</a>

<!-- changement couleur header et padding body -->
        <script type="text/javascript">
          $('#header').css('background-color', '#8cb02b');
          $('form#nav-search input[type="submit"]').css('color', '#8cb02b');
          $('#navigation ul li#connexion a').css('color', '#8cb02b');
        </script>

{% endblock content %}
