{% extends "layout/base.html" %}

{% block content %}


<!-- Connexion -->
    <section id="work" class="main style3 secondary connexion">
        <div class="content container 75%">
            <header>
                <h2>Tout DiabON en 1 clic</h2>
            </header>

        <!-- Recherche -->
        
        <div id="connexion-container">
            <img src="/static/images/profil-icone.png" alt="">

            <!--form id="connexion-form" action="">
                <input type="text" name="login" id="login" placeholder="Nom du compte"/>

                <input type="password" name="password" id="password" placeholder="Mot de passe"/>

                <input type="submit" name="connexion" value="Se connecter"/>  

                <label class="remember">
                    <input id="PersistentCookie" name="PersistentCookie" type="checkbox" value="yes" checked="checked">
                    <span>Rester connecté</span>
                </label>
            </form-->

                    <h1>Se connecter</h1>

        {% if error %}
            <p id="error-connexion">Utilisateur inconnu ou mauvais de mot de passe. <br>Si le problème persiste malgré des identifiants correctes, <a href={% url 'contact' %}>contactez-nous</a> !</p>
        {% endif %}

        {% if user.is_authenticated %}
            Vous êtes déjà connecté, {{ user.username }} !
        {% else %}
            <form id="connexion-form" method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Se connecter" />
            </form>
        {% endif %}
        </div> 

        <div id="inscription">Pas encore inscrit ? <a href={% url 'inscription' %}>Créer un compte</a></div>
        
    </section>



{% endblock content %}