{% extends "layout/base.html" %}
{% block content %}

<!-- Contact -->
	<section id="contact" class="main style3 secondary">
		<div class="content container">
			<header>
				<h2>Dites nous bonjour.</h2>
				<p>Qu'il s'agisse d'une remarque, d'un conseil ou d'une question, notre équipe sera heureuse de vous répondre.</p>
			</header>
			<div class="box container 75%">
			
			<!-- Contact Form -->
				<form method="post" action=".">
					{% csrf_token %}
        			{{ form.as_p }}
					<input type="submit" value="Envoyer" />
				</form>

			</div>
		</div>
	</section>

	<script type="text/javascript">
		document.title = 'Contact - DiabON';
	</script>

{% endblock content %}