{% extends "layout/base.html" %}
{% block content %}

<section id="equipe" class="main style1 dark fullscreen">
	<div class="content container 75%">
		<header>
			<h2>L'équipe derrière le projet DiabON</h2>
		</header>

		<div class="presentation-equipe">
			<header>
				<h3>Léa Triquet</h3>
			</header>
			<p>Chef de projet et Responsable Communication et Marketing</p>
			<a target="_blank" class="btn" href="https://www.linkedin.com/profile/view?id=221141345">LinkedIn</a>
			<a target="_blank" class="btn" href="https://twitter.com/leateuqirt">Twitter</a>
			<a target="_blank" class="btn" href="http://www.viadeo.com/profile/002ngtbqohofl88">Viadeo</a>
		</div>
		<div class="presentation-equipe">
			<header>
				<h3>Brice Berthelot</h3>
			</header>
			<p>Webdesigner UX et Intégrateur</p>
			<a target="_blank" class="btn" href="http://www.briceberthelot.fr/">Site perso</a>
			<a target="_blank" class="btn" href="https://www.linkedin.com/in/briceberthelot">LinkedIn</a>
			<a target="_blank" class="btn" href="https://twitter.com/brice_berthelot">Twitter</a>
			<a target="_blank" class="btn" href="http://www.viadeo.com/profile/002120dc4yd8frkj/">Viadeo</a>
		</div>
		<div class="presentation-equipe">
			<header>
				<h3>Florent François</h3>
			</header>
			<p>Développeur Back-End</p>
			<a target="_blank" class="btn" href="http://www.florentfrancois.fr/">Site perso</a>
		</div>
		<div class="presentation-equipe">
			<header>
				<h3>Olivier Rabot</h3>
			</header>
			<p>Front-Développeur et chargé de communication</p>
		</div>

		<div class="clear"></div>
	</div>
</section>

<script type="text/javascript">
	document.title = 'L\'équipe - DiabON';
</script>

{% endblock content %}