{% extends "layout/base.html" %}

{% block content %}
<!-- {% url 'carnet' %}  lien pour une url-->

<!-- Presentation -->
			<section id="presentation" class="main style1 dark fullscreen">
				<div class="content container 75%">
					<header>
						<img src="/static/images/icone.png" alt="DiabON">
						<h2>Mieux vivre avec son diabète</h2>
						<p>Diab’On vous permet de suivre votre diabète au quotidien.</p>
					</header>

					<div class="presentation-content carnet">
						<header class="carnet">
							<h3><a href={% url 'carnet' %}><span class="flaticon-book118"></span>Carnet</a></h3>
						</header>
						<p>Gérez vos <strong>relevés</strong>, visualisez votre <strong>évolution</strong> et planifiez 
						vos <strong>rendez-vous</strong>.</p>
						<a class="btn carnet" href={% url 'connexion' %}>Connectez-vous</a>
					</div>
					<div class="presentation-content alimentation">
						<header class="alimentation">
							<h3><a href={% url 'alimentation' %}><span class="flaticon-apple55"></span>Alimentation</a></h3>
						</header>
						<p>Informez vous sur des <strong>aliments</strong>, composez votre <strong>menu</strong> et aidez 
						nous à remplir notre <strong>catalogue</strong>.</p>
						<a class="btn alimentation" href={% url 'alimentation' %}>Découvrir</a>
					</div>
					<div class="presentation-content conseils">
						<header class="conseils">
							<h3><a href={% url 'conseils' %}><span class="flaticon-bald23"></span>Conseils</a></h3>
						</header>
						<p>Lisez nos <strong>articles</strong>, découvez nos <strong>conseils</strong> et <strong>bonnes pratiques</strong>.</p>
						<a class="btn conseils" href={% url 'conseils' %}>Lire</a>
					</div>

					<div class="clear"></div>
				</div>
			</section>			

{% endblock content %}