{% extends "layout/base.html" %}

{% block content %}

<!-- Inscription -->
    <section id="work" class="main style3 secondary inscription">
        <div class="content container 75%">
            <header>
                <h2>Créez votre compte DiabON</h2>
                <p>Cela ne vous prendra que 3 minutes pour remplir au mieux votre profil</p>
            </header>

        <!-- Recherche -->
        <div id="inscription-container">
            <form id="inscription-form" method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="S'inscrire" />
            </form>
        </div>                 
    </section>

    <script type="text/javascript">
        document.title = 'Inscription - DiabON';
    </script>


{% endblock content %}