{% extends "layout/base.html" %}

{% block content %}

<!-- Inscription -->
    <section id="work" class="main style3 secondary inscription-details">
        <div class="content container 75%">
            <header>
                <h2>Remplissez vos infos personnelles pour personnaliser votre expérience</h2>
            </header>

        <!-- Recherche -->
        <div id="inscription-details-container">
            <form id="inscription-details-form" action="">
                <label class="title">Ma photo</label>

                <label>Ajoutez une photo de profil</label>
                <input type="file" name="profil-picture" id="profil-picture"/>

                <label class="title">A propos</label>

                <label>Date d'anniversaire</label>
                <input type="date" name="anniversaire" id="anniversaire" placeholder"jj/mm/aaaa"></input>

                <label>Sexe</label>
                <select name="Sexe">
                    <option value="femme">Femme</option>
                    <option value="homme">Homme</option>
                </select>

                <label>Taille (en cm)</label>
                <input type="text" name="taille" id="taille" placeholder"exemple : 175"></input>

                <label>Taille (en kg)</label>
                <input type="text" name="poids" id="poids" placeholder"exemple : 72"></input>

                <label class="title">Mon diabète</label>

                <label>Diabète</label>
                <select name="Type">
                    <option value="type1">Type 1</option>
                    <option value="type2">Type 2</option>
                </select>

                <label>Glycémie moyenne (en mg/dl)</label>
                <input type="text" name="glycemie-moyenne" id="glycemie-moyenne" placeholder"exemple : 134"></input>

                <label>Ajouter une note</label>
                <input type="textarea" name="glycemie-note" id="glycemie-note" rows=4 cols=40></input>

                <label class="title">Mes contacts</label>

                <div class="contact">
                    <label class="sub-title">#1</label>
                    <label>Prénom et nom</label>
                    <input type="text" name="surname" id="surname" placeholder="Prénom"/>
                    <input type="text" name="name" id="name" placeholder="Nom"/>

                    <label>Téléphone</label>
                    <input type="phone" name="phone" id="phone"/>

                    <label>Adresse e-mail</label>
                    <input type="email" name="email" id="email" placeholder="exemple@diabon.fr"/>

                    <label>Ajouter une note</label>
                    <input type="textarea" name="glycemie-note" id="glycemie-note" rows=4 cols=40></input>
                </div>

                <div class="contact">
                    <label class="sub-title">#2</label>
                    <label>Prénom et nom</label>
                    <input type="text" name="surname" id="surname" placeholder="Prénom"/>
                    <input type="text" name="name" id="name" placeholder="Nom"/>

                    <label>Téléphone</label>
                    <input type="phone" name="phone" id="phone"/>

                    <label>Adresse e-mail</label>
                    <input type="email" name="email" id="email" placeholder="exemple@diabon.fr"/>

                    <label>Ajouter une note</label>
                    <input type="textarea" name="glycemie-note" id="glycemie-note" rows=4 cols=40></input>
                </div>

                <div class="info">Vous pourrez ajouter d'autres contacts plus tard en allant dans votre profil.</div>


                <input type="submit" name="inscription-details" value="Valider mes infos"/>
            </form>
        </div>                 
    </section>


    <!-- Scroll to top -->
    <a href="#" class="back-to-top">Remonter</a>


{% endblock content %}