{% extends "layout/base.html" %}
{% block content %}


		<!-- Mentions Légales -->
			<section id="mentions-legales" class="main style2 secondary">
				<div class="content container">
					<header>
						<h2>Mentions légales</h2>
					</header>

					<br>

					<p>LES INFORMATIONS FIGURANT SUR CE SITE SONT DESTINEES A AMELIORER, NON A REMPLACER LA RELATION QUI EXISTE ENTRE LE PATIENT (ou le visiteur du site) ET SON MEDECIN. CES INFORMATIONS NE SONT PAS DIFFUSEES A DES FINS COMMERCIALES.</p>

					<p>Mentions légales réglementées par la Loi n° 2004-575 du 21 juin 2004 pour La Confiance dans l’Economie Numérique.</p>

					<p>Le présent site est la propriété de Novo Nordisk, société par actions simplifiée au capital de 5 821 140 EUROS, inscrite au Registre du Commerce et des Sociétés de Nanterre sous le n° 451 356 992 dont le siège social est situé à l'adresse suivante :</p>

					<p>Novo Nordisk<br>
					Coeur Défense<br>
					Tour B<br>
					100, Esplanade Charles de Gaulle<br>
					92 932 La Défense Cedex<br>
					Directeur de la Publication : Stéphane CALMAR, Senior Director Corporate Affairs, France & Belux.</p>


					<p>Hébergement<br>
					OVH<br>
					SAS au capital de 10 000 000 € RCS Roubaix – Tourcoing 424 761 419 00045<br>
					Code APE 6202A - N° TVA : FR 22 424 761 419<br>
					Siège social : 2 rue Kellermann 59100 Roubaix - France.</p>

					<p><strong>1. Informations techniques</strong></p>

					<p>L'utilisateur du présent site reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site. L’utilisateur s’engage notamment à vérifier que la configuration informatique utilisée ne contient aucun virus et qu'elle est en parfait état de fonctionnement.</p>

					<p>L'utilisateur reconnaît avoir été informé que le présent site est accessible 24 heures sur 24 et 7 jours sur 7. En cas de force majeure, de difficultés informatiques, de difficultés liées à la structure des réseaux de télécommunications ou difficultés techniques, pour des raisons de maintenance, sans que cette liste ne soit exhaustive, l'accès à toute ou partie du site pourra être suspendue ou supprimée sur simple décision de Novo Nordisk qui s’efforcera d’en informer préalablement les utilisateurs.</p>

					<p><strong>2. Informatique et libertés</strong></p>

					<p>Novo Nordisk s'engage à respecter les dispositions de la loi "informatique, fichiers et libertés" du 6 janvier 1978 modifiée par la loi du 06 août 2004. Le site www.diabete.fr a fait l'objet d'une déclaration auprès de la CNIL sous le numéro 759273.</p>

					<p>Dans le cadre de la loi du 6 janvier 1978 modifiée par la loi du 6 août 2004, Novo Nordisk informe l’utilisateur que :</p>

					<p>2.1. Les données collectées auprès de l’utilisateur sont réservées à l'usage exclusif de Novo Nordisk SAS, des sociétés du Groupe Novo Nordisk ainsi qu’à ses sous-traitants.</p>

					<p>Certains de ces destinataires sont situés en dehors de L'Union Européenne et en particulier les Sociétés du Groupe Novo Nordisk établies dans le monde. Le transfert de ces données est encadré par des règles internes validées par la CNIL qui vous garantit un niveau de protection équivalent à celui de l'Union Européenne.</p>

					<p>2.2. L’utilisateur dispose à tout moment d’un droit d’accès aux informations qui le concernent, il pourra les faire modifier (changement de nom, d’adresse…), rectifier (en cas d’erreur) ou supprimer;</p>

					<p>2.3. Les données de connexion seront exploitées sous une forme directement ou indirectement nominative en vue d'obtenir des statistiques générales concernant la fréquentation du site.</p>

					<p>Pour l’exercice de son droit d’accès l'utilisateur pourra faire sa demande soit :</p>

					<p>par courrier postal à :</p>

					<p>Novo Nordisk<br>
					Service juridique<br>
					Coeur Défense<br>
					Tour B<br>
					100, Esplanade Charles de Gaulle<br>
					92 932 La Défense cedex</p>

					<p>soit par courrier électronique : contact-france@novonordisk.com</p>

					<p><strong>3. Cookies</strong></p>

					<p>L'utilisateur est informé que lors de ses visites sur le site un cookie peut s'installer automatiquement sur son logiciel de navigation.<br>
					Le cookie est un bloc de données qui ne permet pas d'identifier l'utilisateur mais qui sert à enregistrer des informations relatives à la navigation de celui-ci sur le site.</p>

					<p>Le paramétrage du logiciel de navigation permet d'informer de la présence d'un cookie et notamment de la refuser, de la manière suivante :</p>

					<p>- si vous naviguez sur Internet avec le navigateur "Internet Explorer 6 ou autre plus récent (Microsoft)", cliquez sur "Options Internet" dans le menu "Outils", puis cliquez sur l'onglet "Confidentialité", puis sur le bouton "Avancé". Dans cette nouvelle fenêtre cliquez sur "Ignorer la gestion automatique des cookies" puis cochez "Accepter" dans le menu "Cookies internes" et "Cookies tierce partie" puis validez par "OK".</p>

					<p>- Si vous naviguez sur Internet avec le navigateur "Mozilla Firefox 2 ou autre plus récent" : cliquez sur la barre de menu sur "Options", puis dans l’onglet "Vie privée" cochez la case "Accepter les cookies", puis choisissez leurs durées de conservation.</p>

					<p>L'utilisateur dispose d'un droit d'accès, de rectification et de suppression, relativement aux données nominatives le concernant, communiquées par le biais du cookie selon les modalités indiquées ci-dessus au chapitre "Loi Informatique et Libertés"</p>

					<p><strong>4. Propriété, Droit d'auteur</strong></p>

					<p>La structure générale et chacun des éléments, y compris les marques, logos et noms de domaine présents sur le site www.diabete.fr sont protégés par les lois en vigueur sur la propriété intellectuelle et appartiennent à Novo Nordisk, ou font l’objet d’une autorisation d’utilisation consentie à Novo Nordisk par des tiers.</p>

					<p>L’utilisateur n’acquiert qu’un droit d’usage des informations disponibles (textes, logos, dessins, images…) sur le site. Ce droit est limité à un usage strictement personnel et privé en respect du droit de propriété dont il est fait mention.</p>

					<p>Toute autre utilisation est soumise à l’accord préalable et exprès de Novo Nordisk – Service Communication et devra se faire sans dénaturer, modifier ou altérer les documents de quelque manière que ce soit.</p>

					<p>Toute reproduction totale ou partielle de ce site par quelque procédé que ce soit, sans l'autorisation expresse de Novo Nordisk est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>

					<p>Il en est de même des bases de données figurant sur le site web, qui sont protégées par les dispositions du Code de la propriété intellectuelle portant transposition de la directive européenne du 11 mars 1996 relative à la protection juridique des bases de données, et dont Novo Nordisk est producteur.</p>

					<p>Liens hypertextes<br>
					Les liens hypertextes mis en place dans le cadre du présent site web en direction d'autres ressources présentes sur le réseau internet, et notamment vers ses partenaires ont fait l'objet d'une autorisation préalable.</p>

					<p>Tout autre utilisateur ou visiteur du site web ne peut mettre en place un hyperlien en direction de ces sites partenaires sans l’autorisation expresse et préalable des partenaires concernés.</p>

					<p>L’autorisation expresse et préalable de Novo Nordisk doit être obtenue pour mettre en place un hyperlien en direction du site www.novonordisk.fr ou www.diabete.fr</p>

					<p><strong>5. Responsabilité</strong></p>

					<p>Novo Nordisk fournit les informations diffusées sur le site www.diabete.fr à des fins informatives.</p>

					<p>Novo Nordisk fait ses meilleurs efforts pour que toutes les informations présentes sur le site soient fiables, actualisées, exhaustives, pertinentes, licites et validées.</p>

					<p>Pour toute autre question ou remarque relative à ces informations vous pouvez adresser un message électronique à :  contact-france@novonordisk.com</p>

					 

					<p>FR/IA/0414/0065</p>

					<p>Date de mise à jour : 10/07/2014</p>
				</div>
			</section>

		<!-- Scroll to top -->
        	<a href="#" class="back-to-top">Haut de page</a>
{% endblock content %}