{% extends "layout/base.html" %}
{% block content %}

<!-- Menu -->
			<section id="work" class="main style3 secondary menu">
				<div class="content container 75% features-container">
					<header>
						<h2>Composez votre menu</h2>
						<p>Rentrez les différents aliments qui composent votre menu. Nous nous chargeons de vous donner sa valeur glycémique.</p>
					</header>
					
					<div class="box container 75% a-propos">
						<header>
							<h2><span class="flaticon-profile7"></span>Entrée</h2>
						</header>

						<form class="menu" method="post" action="#">
							<div class="row 50%">
								<div class="6u"><input type="text" name="entree" placeholder="Nom de l'entrée" /></div>
								<div class="6u">
									<select class="quantite" name="quantite">
										<option>0 à 50 g</option>
										<option>50 à 100 g</option>
										<option>100 à 150 g</option>
										<option>150 à 200 g</option>
										<option>200 à 250 g</option>
										<option>250 à 300 g</option>
										<option>300 à 350 g</option>
										<option>350 à 400 g</option>
										<option>400 à 450 g</option>
										<option>450 à 500 g</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Ajouter à mon menu" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>

					<div class="box container 75% a-propos">
						<header>
							<h2><span class="flaticon-profile7"></span>Plat</h2>
						</header>

						<form class="menu" method="post" action="#">
							<div class="row 50%">
								<div class="6u"><input type="text" name="plat" placeholder="Aliments du plat" /></div>
								<div class="6u">
									<select class="quantite" name="quantite">
										<option>0 à 50 g</option>
										<option>50 à 100 g</option>
										<option>100 à 150 g</option>
										<option>150 à 200 g</option>
										<option>200 à 250 g</option>
										<option>250 à 300 g</option>
										<option>300 à 350 g</option>
										<option>350 à 400 g</option>
										<option>400 à 450 g</option>
										<option>450 à 500 g</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Ajouter à mon menu" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>

					<div class="box container 75% a-propos">
						<header>
							<h2><span class="flaticon-profile7"></span>Laitage</h2>
						</header>

						<form class="menu" method="post" action="#">
							<div class="row 50%">
								<div class="6u"><input type="text" name="laitage" placeholder="Nom du laitage" /></div>
								<div class="6u">
									<select class="quantite" name="quantite">
										<option>0 à 50 g</option>
										<option>50 à 100 g</option>
										<option>100 à 150 g</option>
										<option>150 à 200 g</option>
										<option>200 à 250 g</option>
										<option>250 à 300 g</option>
										<option>300 à 350 g</option>
										<option>350 à 400 g</option>
										<option>400 à 450 g</option>
										<option>450 à 500 g</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Ajouter à mon menu" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>

					<div class="box container 75% a-propos">
						<header>
							<h2><span class="flaticon-profile7"></span>Dessert</h2>
						</header>

						<form class="menu" method="post" action="#">
							<div class="row 50%">
								<div class="6u"><input type="text" name="dessert" placeholder="Nom du/des dessert(s)" /></div>
								<div class="6u">
									<select class="quantite" name="quantite">
										<option>0 à 50 g</option>
										<option>50 à 100 g</option>
										<option>100 à 150 g</option>
										<option>150 à 200 g</option>
										<option>200 à 250 g</option>
										<option>250 à 300 g</option>
										<option>300 à 350 g</option>
										<option>350 à 400 g</option>
										<option>400 à 450 g</option>
										<option>450 à 500 g</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Ajouter à mon menu" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>

					<div class="box container 75% a-propos">
						<header>
							<h2><span class="flaticon-profile7"></span>Boissons</h2>
						</header>

						<form class="menu" method="post" action="#">
							<div class="row 50%">
								<div class="6u"><input type="text" name="boisson" placeholder="Nom de la boisson" /></div>
								<div class="6u">
									<select class="quantite" name="quantite">
										<option>25 cl</option>
										<option>33 cl</option>
										<option>50 cl</option>
										<option>1 L</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Ajouter à mon menu" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>

					<form id="calculate">
						<input type="submit" name="calculate" value="Calculer" />
					</form>

				</div>
			</section>

		<!-- Scroll to top -->
        	<a href="#" class="back-to-top">Remonter</a>

	{% endblock content %}