<div class="container 75% conseils-articles">
	<div class="row 0% images">
		<div class="12u">
			<div class="view">
			    <img src="images/articles/pic1.png" />  
			    <h2>Activité physique : de quoi parle-t-on ?</h2>  
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu dui posuere ...</p>  
		        <a href="#" class="info">lire l'article</a>  
	    	</div>
		</div>
	</div>
</div>

<div class="row 0% images">
	<div class="12u">
		<div class="view">
		    <img src="images/articles/pic2.png" />  
		    <h2>Bien choisir son activité sportive</h2>  
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu dui posuere ...</p>  
	        <a href="#" class="info">lire l'article</a>  
    	</div>
	</div>
</div>
</div>