<table id="table-releves" class="tablesorter"> 
	<thead> 
		<tr> 
		    <th>Date</th> 
		    <th>Heure</th> 
		    <th>Relevé</th> 
		    <th class="note">Note</th>
		</tr> 
	</thead> 
	<tbody> 
		<tr> 
		    <td>18 Jan 2014</td> 
		    <td>11h54</td> 
		    <td>135 mg/dl</td> 
		    <td>Tremblement ! J'ai augmenté ma dose d'insuline.</td> 
		</tr> 
		<tr> 
		    <td>19 Jan 2014</td> 
		    <td>08h12</td> 
		    <td>136 mg/dl</td> 
		    <td></td> 
		</tr> 
		<tr> 
		    <td>20 Jan 2014</td> 
		    <td>12h03</td> 
		    <td>133 mg/dl</td> 
		    <td>J'avais pas faim. lol</td> 
		</tr> 
	</tbody> 
</table> 

<!-- Scripts -->
<script type="text/javascript">
	$(document).ready(function() 
	    { 
	        $("#table-releves").tablesorter(); 
	    } 
	); 
</script>