{% extends "layout/base.html" %}

{% block content %}


<!-- Connexion -->
	<section id="work" class="main style3 secondary inscription-complete">
		<div class="content container 75%">
			<header>
				<h2>Félicitations, votre inscription est réussie</h2>
				<p>Connectez-vous pour profiter de toutes les fonctionnalités et continuez à remplir votre profil pour un service encore plus personnalisé (dans le menu 'Profil').</p>
			</header>
		
		<div id="connexion-container">
			<img src="/static/images/icone-thumbs.png" alt="">

			

			<form id="connexion-form" method="post" action=".">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Se connecter" />
			</form>

			<!--<a href={% url 'connexion' %}>Se connecter</a>-->
		</div>
		
	</section>

	<script type="text/javascript">
		document.title = 'Inscription réussie - DiabON';
	</script>



{% endblock content %}

	